#menu_sub ul
{
    font-size: 12px;
    color: aliceblue;
    height: 31px;
    top: 0;
    left: 0;
    list-style-type:disc;
    margin: 0px;
    border-top: 1px solid;
    background-color: rgb(192,192,192);
    border-bottom: 2px solid;
    border-color: rgb(211,211,211);
    
}

#menu_sub li
{
    background-color: rgb(192,192,192);
    list-style: none;
    float: left;
    border-right: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
}
#menu_sub li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

#menu_sub li a:hover:not(.active)
{
    background-color: #a9bce2;
}